<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- TRENDING PAGE -->

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">Book Website</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('home')}}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('trending')}}">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('response')}}">Book Lists</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{{ url_for('questions')}}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Q&A
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{{ url_for('questions')}}"
                    >Common Question 1</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('questions')}}"
                    >Common Question 2</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('questions')}}"
                    >Other Questions</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Enter a genre/ name of an author"
              aria-label="Enter a genre/ name of an author "
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- TRENDING PAGE BODY -->
    <div>
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./static/assets/images/ataleforthetimebeing.jpeg"
              class="d-block w-100"
              alt="A tale for the time being"
            />
          </div>
          <div class="carousel-item">
            <img
              src="./static/assets/images/doubtingthomas.jpeg"
              class="d-block w-100"
              alt="Doubting Thomas"
            />
          </div>
          <div class="carousel-item">
            <img
              src="./static/assets/images/fiebretropical.jpeg"
              class="d-block w-100"
              alt="Fiebre Tropical"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img
            src="https://i.guim.co.uk/img/media/5c31b21be07d49876dd77ed77b262f9bb458892d/0_441_6634_3981/master/6634.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=586dd064f4de20ec52a235d8686f58b9"
            alt="Ruth Ozenki"
            class="rounded-circle"
            width="140"
            height="140"
          />
          <h2 class="fw-normal">Ruth Ozenki</h2>
          <p>
            Ruth Ozeki is an American-Canadian author, filmmaker and Zen
            Buddhist priest.
          </p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img
            src="https://s26162.pcdn.co/wp-content/uploads/2021/06/Ethan-Rutherford-300x300.jpg"
            alt="Matthew Clark Davison"
            class="rounded-circle"
            width="140"
            height="140"
          />
          <h2 class="fw-normal">Matthew Clark Davison</h2>
          <p>
            Matthew Clark Davison is a writer and educator living in San
            Francisco.
          </p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img
            src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRmtrT-IjzY3evHqjX0ZODj7dATCEtDnxIPLPrNR_vx736IYRyN"
            alt="Julián Delgado Lopera"
            class="rounded-circle"
            width="140"
            height="140"
          />
          <h2 class="fw-normal">Julián Delgado Lopera</h2>
          <p>
            Julián Delgado Lopera is a queer Colombian writer and performer.
          </p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
            NightCrawling
            <span class="text-body-secondary">Leila Mottley</span>
          </h2>
          <p class="lead">
            Based on a true crime in 2015 involving institutional exploitation,
            brutality and corruption in the Oakland police department,
            Nightcrawling gives voice to 17-year-old Kiara Johnson, who, after
            her father's death and mother's detention in a rehab facility,
            becomes a sex worker to pay for rent hikes.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="./static/assets/images/nightcrawling.jpeg"
            alt="NightCrawling"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">
            No Honour
            <span class="text-body-secondary">Awais Khan</span>
          </h2>
          <p class="lead">
            A young woman defies convention in a small Pakistani village, with
            devastating results for her and her family. A stunning, immense
            beautiful novel about courage, family and the meaning of love, when
            everything seems lost...
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            src="./static/assets/images/nohonour.jpeg"
            alt="No honour"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
            Sour Heart
            <span class="text-body-secondary">Jenny Zhang</span>
          </h2>
          <p class="lead">
            Narrated by the daughters of Chinese immigrants who fled imperiled
            lives as artists back home only to struggle to stay afloat —
            dumpster diving for food and scamming Atlantic City casino buses to
            make a buck — these seven stories showcase Zhang's compassion and
            moral courage, and a darkly funny and intimate rendering of
            girlhood.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="./static/assets/images/sourheart.jpeg"
            alt="Sour Heart"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>

    <!-- FOOTER -->

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a
              href="{{ url_for('home')}}"
              class="nav-link px-2 text-body-secondary"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{{ url_for('trending')}}"
              class="nav-link px-2 text-body-secondary"
              >Trending</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{{ url_for('response')}}"
              class="nav-link px-2 text-body-secondary"
              >Book Lists</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{{ url_for('questions')}}"
              class="nav-link px-2 text-body-secondary"
              >Q&A</a
            >
          </li>
        </ul>
        <p class="text-center text-body-secondary">© Book Website's name</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
